# Nix
.result
.direnv/

# Rust
**/target/
**/*.rs.bk

# Node
**/node_modules/
npm-debug.log*

# IDE / OS
.DS_Store
.idea/
.vscode/
*.swp

# Env / secrets
.env
.env.*
!.envrc

# Local Core data
.data/

# SQLite local DBs
*.sqlite
*.sqlite-journal

# Swift
clients/apple/.build/
clients/apple/.swiftpm/
